.fig {
    position: relative;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 5px 15px;
    margin: 1.5rem;
    border-radius: 10px;   
    width: 90%;
    color: #2196f3;
}
.img-col{
    position: relative;
    width: 75%;
    border-radius: 10px;
    margin-bottom: 1rem;
    
}
.text{
    text-decoration: none;
    color: #2196f3;
    text-align: center;
}
.fig:hover{
    cursor: pointer;
    color: #1667aa ;
}
.leia{
    color: rgba(165, 165, 165, 0.671);
}

